

.header{
    display: flex;
    justify-content: center;
    background-color:yellow;
    width: 101%;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    height: 55px;
    align-items: center;
    font-size:30px ;
    font-family: cursive;
    
}
.headerlink{
    text-decoration: none;
    color: blueviolet;

}
.GitHub{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 17px;
    font-weight: 700;
    background-color: brown;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px
}
.git{
    text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------------------ */
.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(2, 137, 216);
    margin-right: -10px;
    height: 120px;
    margin-left: -10px;
}
.menu1{
    color: red;
    
}
.menu{
    color: gray;    
   
}
.menu:hover{
    color: red;
}
.leftnav{
    width: 45%;
    
    
}
.napisy{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    font-weight:400;
    
    
    font-size: 23px;
    font-family: cursive;
    width: 49%
}
.menulinks{
    text-decoration: none;
}
.logonav{
    width: 170px;
    position: relative;
    right: -180px;
    top: -25px;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
.restaurant{
    width: 101%;
    margin-left: -10px;
    margin-right: -10px;
}



/* -------------------------------------------------------------------------------------------------------------------------------------- */

.footer{
    background-color: brown;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: cursive;
    box-shadow: 56px 56px 109px cadetblue

}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.phone{
    width: 50px;
    height: auto;


}

.gpss{
    width: 50px;
    height: auto;
    
}
.info{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family:cursive ;
    background-color: yellow;
    margin-left: -10px;
    margin-right: -10px;
}
.gps2{
    width: 500px;
    border: 5px solid red;
    position: relative;
    bottom: 70px;
    transition: transform 0.3s ease;
}
.gps{
    display: flex;
    justify-content: center;
    background-color: yellow;
    height: auto;
    margin-left: -10px;
    margin-right: -10px;
    
}
.puste{
    background-color: yellow;
    margin-right: -10px;
    margin-left: -10px;
    height: 170px;
}
.under{
    background-color: yellow;
    margin-right: -10px;
    margin-left: -10px;
    height: 120px;

}
.gps2:hover{
    transform: scale(1.2);
    transition: 0.7 ease;
    cursor: pointer;
}




/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
.section-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    font-size: 70px;
    height: 100px;
    margin-right: -10px;
    margin-left: -10px;
    font-family: cursive;
    color:red;

}
.kategoria{
    display: flex;
    justify-content: start;
    font-size: 60px;
    font-family: cursive;
    color: black;
    background-color: yellow;
    margin-left: -10px;
    margin-right: -10px;
    
}
.meni{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height: 190px;
    margin-left: -10px;
    margin-right: -10px;
    
}